:root {
  --primary-color: #6c63ff;
  --secondary-color: #fff8dc;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  width: 100%;
  margin-top: 100px;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}
.nav-color {
  background: #fff5ee;
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.my-logo {
  max-width: 100px;
  height: auto;
}

a.button {
  display: inline-block;
  color: #fff5ee;
  background: black;
  border: none;
  padding: 20px;
  border-radius: 4px;
  margin-top: 25px;
  text-decoration: none;
  box-shadow: var(--box-shadow);
}

a.button:hover {
  color: #ffdead;
}

/********************************************************/
/* MEDIA QUERIES */

@media (max-width: 414px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 18px;
    margin-top: 10px;
  }

  .navigation-links a {
    margin: 20px;
    padding: 10px 10px;
  }

  .headings {
    text-align: center;
    margin-top: 10px;
  }

  a.button {
    display: block;
    text-align: center;
    width: 130px;
    height: 65px;
    padding: 10px 10px;
    border-radius: 4px;
    margin: 8px auto;
  }
}

@media (max-width: 384px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 18px;
    margin-top: 10px;
  }

  .navigation-links a {
    margin: 20px;
    padding: 10px 10px;
  }

  .headings {
    text-align: center;
    margin-top: 10px;
  }

  a.button {
    display: block;
    text-align: center;
    width: 130px;
    height: 65px;
    padding: 10px 10px;
    border-radius: 4px;
    margin: 8px auto;
  }
}

@media (max-width: 360px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 18px;
    margin-top: 10px;
  }

  .navigation-links a {
    margin: 20px;
    padding: 10px 10px;
  }

  .headings {
    text-align: center;
    margin-top: 10px;
  }

  a.button {
    display: block;
    text-align: center;
    width: 130px;
    height: 65px;
    padding: 10px 10px;
    border-radius: 4px;
    margin: 8px auto;
  }
}

@media (max-width: 320px) {
  a.button {
    display: block;
    font-size: 14px;
    text-align: center;
    width: 110px;
    height: 58px;
    padding: 10px 10px;
    border-radius: 4px;
    margin: 8px auto;
  }
}
